:root {
  --primaryColor: #FFB400;
  --brandRed: #AD1A1E;
  --black: #232122;
  --poppinsRegular: "Poppins", sans-serif;
  --poppinsMedium: "Poppins", sans-serif;
  --poppinsSemibold: "Poppins", sans-serif;
  --poppinsBold: "Poppins", sans-serif;
  --headline: Ornitons, sans-serif;
}

@font-face {
  font-family:"Ornitons" ;
  src: url(assets/fonts/Ornitons\ Regular/Ornitons\ Regular.ttf);
}

/* --------------------------Header--------------------------*/
.front-page {
  background-color: var(--primaryColor);
  height: 120vh;
}

.heading1 {
  font-size: 30px;
}

/* --------------------------Nav Bar--------------------------*/
nav {
  font-family: var(--poppinsSemibold);
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.navbar-brand img {
  width: 150px;
  height: 80px;
  object-fit: contain;
}

.nav-item .nav-link {
  color: var(--brandRed);
  /* text-transform: uppercase; */
  font-size: 15px;
}

button.bt {
  background: var(--brandRed);
  color: white;
  border: none;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 15px 40px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  font-family: var(--poppinsSemibold);
}

button.btn-2 {
  overflow: hidden;
  position: relative;
}

button.btn-2:hover {
  background-color: var(--black);
  color: white;
}


.headline {
  font-family: var(--headline);
  font-size: 90px;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--brandRed);
}

.title {
  font-family: var(--poppinsBold);
  font-weight: 600;
  font-size: 40px;
  line-height: 3.5rem;
  color: var(--brandRed);
}

.sub-title {
  font-family: var(--poppinsSemibold);
  font-weight: 500;
  font-size: 28px;
  color: var(--black);
}

.paragraph {
  font-family: var(--poppinsRegular);
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
}